/* wofi/style.css */
* {
	font-family: "JetBrains Mono", "monospace";
	/* Use a nice patched font if you have one */
	font-size: 14px;
}

window {
	margin: 0px;
	border: 2px solid #3b4252;
	background-color: #2e3440;
	/* Dark Nord blue */
	border-radius: 12px;
}

#outer-box {
	margin: 5px;
	border: 2px solid #3b4252;
	background-color: #2e3440;
	/* Put your color here instead */
	border-radius: 12px;
	/* Apply rounding here */
}

#input {
	margin: 5px;
	padding: 10px;
	border: none;
	color: #eceff4;
	background-color: #3b4252;
	border-radius: 8px;
}

#inner-box {
	margin: 5px;
	background-color: transparent;
}

#entry {
	padding: 8px;
	border-radius: 8px;
	color: #d8dee9;
}

#entry:selected {
	background-color: #88c0d0;
	/* Accent color */
	outline: none;
}

#text:selected {
	color: #2e3440;
	/* Contrast text when selected */
	font-weight: bold;
}

#img {
	margin-right: 10px;
}
